<ion-view view-title="Edit Profile" hide-nav-bar="false" class="cover-image">
  <ion-nav-bar class="background-transparent">
    <ion-nav-buttons>
      <button class="button button-clear icon ion-ios-arrow-back font-whit-rgba"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button class="button button-clear done-button-color">Done</button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content scroll="false" class="padding-top-0">
    <div class="row position-relative padding-top-0">
      <div class="col padding-top-10percent">
        <img class="float-right width-65percent" src="img/profileImg.png">
        <i class="icon ion-ios-camera-outline user-img-camera-icon"></i>
      </div>
      <div class="col col-25">
        <i class="icon ion-ios-camera-outline cover-img-icon"></i>
      </div>
    </div>
    <ion-scroll>
      <br>
      <div class="row border-bottom border-top">
        <div class="col padding-bottom-0">
          <p class="font-size-smaller font-weight-700 font-color-grey">INFO</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label class="item item-input padding-left-0 border-none border-top">
            <span class="input-label font-size-smaller font-weight-600 font-color-grey">FIRST NAME</span>
            <input type="text">
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label class="item item-input padding-left-0 border-none border-top">
            <span class="input-label font-size-smaller font-weight-600 font-color-grey">SECOND NAME</span>
            <input type="text">
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label class="item item-input padding-left-0 border-none border-top border-bottom">
            <span class="input-label font-size-smaller font-weight-600 font-color-grey">PHONE NUMBER</span>
            <input type="number">
          </label>
        </div>
      </div>
      <div class="row border-bottom border-top margin-top-4percent">
        <div class="col padding-bottom-0">
          <p class="font-size-smaller font-weight-700 font-color-grey">CHANGE PASSWORD</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label class="item item-input padding-left-0 border-none border-top">
            <span class="input-label font-size-smaller font-weight-600 font-color-grey">PASSWORD</span>
            <input type="password">
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label class="item item-input padding-left-0 border-none border-top">
            <span class="input-label font-size-smaller font-weight-600 font-color-grey">NEW PASSWORD</span>
            <input type="password">
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label class="item item-input padding-left-0 border-none border-top border-bottom">
            <span class="input-label font-size-smaller font-weight-600 font-color-grey">RETYPE</span>
            <input type="password">
          </label>
        </div>
      </div>
      <div class="row border-bottom border-top margin-top-4percent">
        <div class="col padding-bottom-0">
          <p class="font-size-smaller font-weight-700 font-color-grey">CONNECT YOUR ACCOUNT</p>
        </div>
      </div>
      <div class="row margin-top-0  border-bottom-feed-card">
        <div class="col col-10 padding-top-3dot5percent">
          <i class="icon ion-social-facebook font-size-26"></i>
        </div>
        <div class="col padding-top-3dot5percent">
          <p class="font-color-grey font-weight-500 font-size-medium">Facebook</p>
        </div>
      </div>
      <div class="row margin-top-0  border-bottom-feed-card">
        <div class="col col-10 padding-top-3dot5percent">
          <i class="icon ion-social-twitter font-size-26"></i>
        </div>
        <div class="col padding-top-3dot5percent">
          <p class="font-color-grey font-weight-500 font-size-medium">Twitter</p>
        </div>
      </div>
      <div class="row margin-top-0  border-bottom-feed-card">
        <div class="col col-10 padding-top-3dot5percent">
          <i class="icon ion-social-googleplus font-size-26"></i>
        </div>
        <div class="col padding-top-3dot5percent">
          <p class="font-color-grey font-weight-500 font-size-medium">Google</p>
        </div>
      </div>
      <div>
        <br/>
        <button class="delete-account-button padding-top-0dot5percent">Create Account</button>
      </div>
    </ion-scroll>
  </ion-content>
</ion-view>
