<ion-tabs class="tabs-striped tabs-top background-color-white font-color-grey tabs-full-width">
  <ion-tab class="font-color-grey" title="EXPLORE" href="#/explorePeople/explore">
    <ion-nav-view name="explorePeople-explore"></ion-nav-view>
  </ion-tab>
  <ion-tab class="font-color-grey" title="PEOPLE" href="#/explorePeople/people">
    <ion-nav-view name="explorePeople-people"></ion-nav-view>
  </ion-tab>
</ion-tabs>
<ion-footer-bar class="footer-color">
  <div class="row">
    <div class="col text-center"><i class="icon ion-ios-heart-outline footer-icons-color font-size-22"></i></div>
    <div class="col text-center"><i class="icon ion-android-search footer-icons-color font-size-22"></i></div>
    <div class="col text-center"><i class="icon ion-plus footer-icons-color font-size-22"></i></div>
    <div class="col text-center"><i class="icon ion-ios-chatbubble-outline footer-icons-color font-size-22"></i></div>
  </div>
</ion-footer-bar>
