<ion-view view-title="Muslim Chef" hide-nav-bar="false">
  <ion-nav-buttons side="left">
    <button class="button button-clear icon ion-ios-arrow-back font-whit-rgba"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right" class="">
    <div class="col">
      <i class="icon ion-ios-search-strong font-whit-rgba font-size-20"></i>
    </div>
  </ion-nav-buttons>
  <ion-content>
    <div class="row padding-top-0">
      <div class="col col-66">
        <div class="row">
          <div class="col col-10"><img class="width-2dot5em border-radius-50percent" src="img/adam.jpg"></div>
          <div class="col col-offset-10">
            <p class="font-size-12 font-color-grey font-weight-700 line-height-1dot5">NICHOLUS SAVAGE</p>
            <p class="font-size-12 line-height-0 font-weight-500 font-color-light-grey">SOUTH AFRICA</p>
          </div>
        </div>
      </div>
      <div class="col col-offset-10 col-center padding-bottom-0">
        <div class="float-right">
          <i class="icon ion-record font-color-pink font-size-10"></i>

          <p class="display-inline-block">indian</p>
        </div>
      </div>
    </div>
    <div class="row padding-0">
      <div class="col padding-0">
        <img class="width-100percent height-13dot7em" src="img/chicken%20korma.png">
      </div>
    </div>
    <div class="row padding-top-5percent">
      <div class="col">
        <p class="font-size-26 line-height-1 font-color-grey">Chicken Korma with Rice</p>
      </div>
      <div class="col col-33"></div>
    </div>
    <div class="row border-bottom-feed-card">
      <div class="col col-center">
        <p class="font-size-smaller font-weight-700 font-color-grey">INGREDIENTS:</p>
      </div>
    </div>
    <div class="row height-4em">
      <div class="col col-10 col-center">
        <i class="icon ion-record icon-record-green font-size-x-small"></i>
      </div>
      <div class="col col-center padding-left-0">
        <div class="ingredients-item-color">1 Cup Feta</div>
      </div>
    </div>
    <div class="row ingredients-list-background height-4em">
      <div class="col col-10 col-center">
        <i class="icon ion-record icon-record-green font-size-x-small"></i>
      </div>
      <div class="col col-center padding-left-0">
        <div class="ingredients-item-color">1/ 2Cup Cream</div>
      </div>
    </div>
    <div class="row height-4em">
      <div class="col col-10 col-center">
        <i class="icon ion-record icon-record-green font-size-x-small"></i>
      </div>
      <div class="col col-center padding-left-0">
        <div class="ingredients-item-color">1/4 teaspoon salt</div>
      </div>
    </div>
    <div class="row ingredients-list-background height-4em">
      <div class="col col-10 col-center">
        <i class="icon ion-record icon-record-green font-size-x-small"></i>
      </div>
      <div class="col col-center padding-left-0">
        <div class="ingredients-item-color">3 Tbs Coriandor</div>
      </div>
    </div>
    <div class="row">
      <div class="col padding-top-4percent">
        <img class="width-100percent" src="img/advertiseImg.png">
      </div>
    </div>
    <div class="row border-bottom-feed-card">
      <div class="col col-center">
        <p class="">METHOD</p>
      </div>
    </div>
    <div class="row border-bottom-feed-card">
      <div class="col padding-top-4percent">
        <p class="font-color-light-grey font-size-15">But as Mr Coumo and Lawmakers reached a budget agreement on sunday night. Taking advantage of the strongest budget powers afforded to New York's Quee chief executive. taking advantage of the strongest budget powers afforded.</p>
      </div>
    </div>
    <div>
      <div class="row">
        <div class="col col-20 display-webkit-inline-block"><i class="icon ion-heart font-size-22 color-pink"></i>

          <p class="font-size-12 font-weight-500 font-color-light-grey">&nbsp; LIKED</p></div>
        <div class="col col-25 display-webkit-inline-block"><i
          class="icon ion-ios-chatbubble font-size-22 color-grey"></i>

          <p class="font-size-12 font-weight-500 font-color-light-grey">&nbsp; COMMENT</p></div>
        <div class="col display-webkit-inline-block"><i class="icon ion-android-sync font-size-22 color-grey"></i>

          <p class="font-size-12 font-weight-500 font-color-light-grey">&nbsp; REPOST</p></div>
        <div class="col col-10 display-webkit-inline-block"><i class="icon ion-more font-size-20 show-more-color"></i>
        </div>
      </div>
      <div class="row height-30">
        <div class="col col-66 display-webkit-inline-block">
          <i class="icon ion-heart color-grey"></i>

          <p class="font-size-11 font-color-green font-weight-600">&nbsp; STACY MARTIN </p>

          <p class="font-size-11 color-grey width-30percent">&nbsp; AND 27 OTHERS</p>
        </div>
      </div>
      <div class="row height-30">
        <div class="col display-webkit-inline-block">
          <i class="icon ion-ios-chatbubble color-grey font-size-17"></i>

          <p class="font-size-11 font-color-green font-weight-600 width-inherit">&nbsp; GEORGE MARTIN</p>
        </div>
      </div>
      <div class="row">
        <div class="width-5percent"></div>
        <p class="col font-color-light-grey font-size-15">I really don't get what all the fuss is about. she could never compare to Cind, Christy and others</p></div>
    </div>
    <label class="item item-input footer-color">
      <input type="text" placeholder="Write your comments here">
    </label>
  </ion-content>
  <ion-footer-bar class="footer-color">
    <div class="row">
      <div class="col text-center"><i class="icon ion-ios-heart-outline footer-icons-color font-size-22"></i></div>
      <div class="col text-center"><i class="icon ion-android-search footer-icons-color font-size-22"></i></div>
      <div class="col text-center"><i class="icon ion-plus footer-icons-color font-size-22"></i></div>
      <div class="col text-center"><i class="icon ion-ios-chatbubble-outline footer-icons-color font-size-22"></i></div>
    </div>
  </ion-footer-bar>
</ion-view>
