<ion-view view-title="SETTINGS" hide-nav-bar="false">
  <ion-nav-buttons side="left">
    <button class="button button-clear icon ion-ios-arrow-back font-whit-rgba"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
  </ion-nav-buttons>
  <ion-content>
    <div class="row bar-background-gray height-3dot5em">
      <div class="col padding-top-3percent">
        <p class="font-color-grey font-size-small font-weight-500">PROFILE SETTINGS</p>
      </div>
    </div>
    <div class="row margin-top-0 border-bottom-feed-card">
      <div class="col col-66 padding-top-3dot5percent"><p class="font-color-grey font-weight-500 font-size-medium">Send push notifications</p></div>
      <div class="col padding-top-3dot5percent">
        <label class="toggle toggle-positive float-right">
          <input type="checkbox" checked="">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </div>
    </div>
    <div class="row margin-top-0  border-bottom-feed-card">
      <div class="col padding-top-3dot5percent"><p class="font-color-grey font-weight-500 font-size-medium">Refresh automatically</p></div>
      <div class="col padding-top-3dot5percent">
        <label class="toggle toggle-positive float-right">
          <input type="checkbox" checked="">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </div>
    </div>
    <div class="row bar-background-gray height-3dot5em margin-top-0">
      <div class="col padding-top-3percent">
        <p class="font-color-grey font-size-small font-weight-500">CONNECT YOUR ACCOUNT</p>
      </div>
    </div>
    <div class="row margin-top-0  border-bottom-feed-card">
      <div class="col col-10 padding-top-3dot5percent">
        <i class="icon ion-social-facebook font-size-26"></i>
      </div>
      <div class="col padding-top-3dot5percent">
        <p class="font-color-grey font-weight-500 font-size-medium">Facebook</p>
      </div>
    </div>
    <div class="row margin-top-0  border-bottom-feed-card">
      <div class="col col-10 padding-top-3dot5percent">
        <i class="icon ion-social-twitter font-size-26"></i>
      </div>
      <div class="col padding-top-3dot5percent">
        <p class="font-color-grey font-weight-500 font-size-medium">Twitter</p>
      </div>
    </div>
    <div class="row margin-top-0  border-bottom-feed-card">
      <div class="col col-10 padding-top-3dot5percent">
        <i class="icon ion-social-googleplus font-size-26"></i>
      </div>
      <div class="col padding-top-3dot5percent">
        <p class="font-color-grey font-weight-500 font-size-medium">Google</p>
      </div>
    </div>
    <div class="row bar-background-gray height-3dot5em margin-top-0">
      <div class="col padding-top-3percent">
        <p class="font-color-grey font-size-small font-weight-500">SUPPORT</p>
      </div>
    </div>
    <div class="row margin-top-0  border-bottom-feed-card">
      <div class="col padding-top-3percent">
        <p class="font-color-grey font-weight-500 font-size-medium">About Ink</p>
      </div>
    </div>
    <div class="row margin-top-0  border-bottom-feed-card">
      <div class="col padding-top-3percent font-color-grey font-weight-500 font-size-medium">
        <p>Support</p>
      </div>
    </div>
    <div class="row margin-top-0 border-bottom-feed-card">
      <div class="col padding-top-3percent font-color-grey font-weight-500 font-size-medium">
        <p>Find your shop</p>
      </div>
    </div>
    <div class="row margin-top-0  border-bottom-feed-card">
      <div class="col padding-top-3percent font-color-grey font-weight-500 font-size-medium">
        <p class="">We're hiring</p>
      </div>
    </div>
  </ion-content>
</ion-view>
