<ion-view view-title="TOUR" hide-nav-bar="true">
  <ion-content scroll="false" class="background-color-black">
      <ion-slide-box class="height-100percent" on-slide-changed="slideHasChanged($index)">
        <!--<ion-slide class="background-size" style="background-image: url('img/tourSlide1.png')">-->
        <ion-slide class="background-size background-img-tour1">
          <div class="col text-center padding-top-51percent">
            <div>
              <p class="font-size-3em font-weight-100 font-color-green">Muslim Chef</p>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <div>
              <p class="font-size-3em font-whit-rgba font-weight-100">Discover</p>
            </div>
            <br>
            <div class="row">
              <div class="col col-25"></div>
              <p class="col font-size-18 font-whit-rgba font-weight-100">Find Recipes that match your taste & preference</p>
              <div class="col col-25"></div>
            </div>
          </div>
        </ion-slide>
        <ion-slide class="background-size background-img-tour2">
          <div class="col text-center padding-top-51percent">
            <div>
              <p class="font-size-3em font-weight-100 font-color-green">Muslim Chef</p>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <div>
              <p class="font-size-3em font-whit-rgba font-weight-100">Share</p>
            </div>
            <br>
            <div class="row">
              <div class="col col-25"></div>
              <p class="col font-size-18 font-whit-rgba font-weight-100">Join the Recipe Community & share your favorite recipe</p>
              <div class="col col-25"></div>
            </div>
          </div>
        </ion-slide>
        <ion-slide class="background-size background-img-tour3">
          <div class="col text-center padding-top-51percent">
            <div>
              <p class="font-size-3em font-weight-100 font-color-green">Muslim Chef</p>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <div>
              <p class="font-size-3em font-whit-rgba font-weight-100">Enjoy</p>
            </div>
            <br>
            <div class="row">
              <div class="col col-25"></div>
              <p class="col font-size-18 font-whit-rgba font-weight-100">Join the Recipe Community & share your favorite recipe</p>
              <div class="col col-25"></div>
            </div>
          </div>
        </ion-slide>
      </ion-slide-box>
    <div class="slider-pager padding-top-5percent">
      <!--<p class="padding-top-2percent font-size-14 font-whit-rgba font-weight-100" ng-click="nextSlide()">Skip</p>-->
      <p class="padding-top-2percent font-size-14 font-whit-rgba font-weight-100" ui-sref="login">Skip</p>
    </div>
  </ion-content>
</ion-view>
