<ion-view view-title="@snsavage" hide-nav-bar="false" class="background-size-100-24" style="background-image: url('img/coverImage.png');">
<ion-nav-bar class="background-transparent">
    <ion-nav-buttons>
      <button class="button button-clear icon ion-ios-arrow-back font-whit-rgba"></button>
    </ion-nav-buttons>
    <p class="title"></p>
    <ion-nav-buttons side="right">
      <button class="button button-clear icon ion-android-more-horizontal font-whit-rgba"></button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content class="padding-0">
    <div class="row">
      <div class="col col-34">
        <img class="width-78percent border-radius-50percent" src="../img/adam.jpg">
      </div>
      <div class="col col-center">
        <p class="font-size-12 font-whit-rgba font-weight-700 line-height-1dot5">
          SEAN NICHOLUS SAVAGE
        <div class="line-height-0 font-color-gray">
          <i class="icon ion-ios-location"></i>
        <p class="display-inline-block font-weight-700 font-size-smaller">&nbsp;MONTREAL,CANADA</p>
        </div>
        </p>
        <!--<p class="font-whit-rgba"></p>-->
        <button class="visit-user-profile background-transparent padding-top-2dot5percent">
          <i class="icon ion-plus follow-button"></i>
          Follow
        </button>
      </div>
    </div>
    <div class="row background-color-white border-bottom-visit-card height-5dot5em margin-top-4percent">
      <div class="col col-center text-center">
        <div>
          <div class="font-size-larger font-weight-500 font-color-grey">234</div>
          <div class="font-size-11 font-weight-500 font-color-light-grey">RECIPES</div>
        </div>
      </div>
      <div class="col col-center text-center">
        <div>
          <div class="font-size-larger font-weight-500 font-color-grey">22.2k</div>
          <div class="font-size-11 font-weight-500 font-color-light-grey">FOLLOWERS</div>
        </div>
      </div>
      <div class="col col-center text-center">
        <div>
          <div class="font-size-larger font-weight-500 font-color-grey">1353</div>
          <div class="font-size-11 font-weight-500 font-color-light-grey">FOLLOWING</div>
        </div>
      </div>
    </div>
    <div class="row background-color-white height-3dot5em">
      <div class="col col-center text-center"><i class="icon ion-navicon-round font-size-x-large color-blue"></i></div>
      <div class="col col-center text-center"><i class="icon ion-android-apps font-size-x-large font-color-dim-gray"></i></div>
    </div>
    <div>
      <img class="width-100percent" src="img/visitUserProfilePageImg.png">
    </div>
  </ion-content>
</ion-view>
