.button-color-white{
  color: $font-color-white !important;
}
.sideMenuBackground{
  background-image: url("../img/sideMenuBackgroundImg.png");
}
.sideMenuHeaderColor{
  color: $side-menu-header-font-color !important;
}
.search-button-icon-color{
  color: $font-color-white !important;
}
